* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  margin: auto;
}


body {
  font-size: 15pt;
}

header {
  color: white;
  text-align: center;

}

.header_content{
  padding: 5rem 6rem;
  background-color: #159957;
  background-image: linear-gradient(120deg, rgb(107,107, 241), #159957);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #24252A;
  padding: 5px;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a{
  transition: all 0.3 ease 0s;
  text-decoration: none;
  color: white;
}

.nav_links li a:hover{
  color:#0088a9;
}

header h2 {
  font-size: 12pt;
}

nav button{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  color: white;
}

nav button:hover{
  background-color: rgba(0, 136, 169, 0.8);
}

section {
  background: white;
  border-radius: 10px;
  margin: auto;
}

.above-container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #71b7e6,#9b56b6);
  margin: auto;
  padding: 10px;
}

.container {
  max-width: 700px;
  width: 100%;
  background: white;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title{
  font-size:25px;
  font-weight: 500;
}

.container form .user-datails{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .input-box {
  width: calc(100%/2-20px);
}

.details {
  margin-bottom:5px;
}

.input-box input{
  height: 45px;
  width: 100%;
}

footer {
  font: italic;
  text-align: center;
  background: #24252A;
  color: whitesmoke;
}
