* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  margin: auto;
}


body {
  font-size: 15pt;
}

header {
  color: white;
  text-align: center;

}

.header_content{
  padding: 5rem 6rem;
  background-color: #159957;
  background-image: linear-gradient(120deg, rgb(107,107, 241), #159957);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #24252A;
  padding: 5px;
}

.nav_links{
  list-style: none;
}

.nav_links li{
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a{
  transition: all 0.3 ease 0s;
  text-decoration: none;
  color: white;
}

.nav_links li a:hover{
  color:#0088a9;
}

header h2 {
  font-size: 12pt;
}

nav button{
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  color: white;
}

nav button:hover{
  background-color: rgba(0, 136, 169, 0.8);
}

section {
  background: white;
  border-radius: 10px;
  margin: auto;
}

.above-container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #71b7e6,#9b56b6);
  margin: auto;
  padding: 10px;
}

.container {
  max-width: 700px;
  width: 100%;
  background: white;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title{
  font-size:25px;
  font-weight: 500;
}

.container form .user-datails{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .input-box {
  margin: 20px 0 12px 0;
  width: calc(100%/2-20px);
}

.details {
  margin:5px;
}

.input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid{
  border-color: #9b56b6;
}

form .button{
  height: 45px;
  margin: 40px 0;
}

form .button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #71b7e6,#9b56b6);
}

form .button input:hover{
  background: linear-gradient(-135deg, #71b7e6,#9b56b6);
}

footer {
  font: italic;
  text-align: center;
  background: #24252A;
  color: whitesmoke;
}


@media (max-width: 584px) {
  .container{
    max-width: 100%;
  }

  form .user-details .input-box {
    margin: 15px;
    width: 100%;
  }

  .container form .user-datails{
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-datails::-webkit-scrollbar{
    width: 0;
  }
}
